# Flutter/Dart related
.dart_tool/
.packages
.pub-cache/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.lock

# Android
android/.gradle/
android/app/build/
*.apk
*.keystore

# VS Code
.vscode/

# macOS
.DS_Store

# Others
*.log

android/app/build/
/build/
/.dart_tool/
/android/app/build/
/build/
/.dart_tool/
/android/app/build/
